<!--
  Generated template for the AulaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Aula</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  
  <div #mapa class="mapa">
    
  </div>

  <div *ngIf="dados" padding>
      <!-- <b>Disciplina: </b> {{ dadosDisciplina || dados.nome}} <br>
      <b>Professor: </b> {{ dados.docente || dados.palestrante}} <br> -->
      <p *ngIf="dados.nome"><b>Palestra:</b> {{ dados.nome }}</p>
      <p *ngIf="dados.disciplina"><b>Disciplina:</b> {{ dadosDisciplina }}</p>
      <p *ngIf="dados.docente"><b>Docente:</b> {{ dados.docente }}</p>
      <p *ngIf="dados.palestrante"><b>Palestrante:</b> {{ dados.palestrante }}</p>
      <p *ngIf='dados.local'><b>Local: </b> {{ dados.local._lat }}, {{ dados.local._long }}</p>
      <b>Data: </b> {{ datastring }} <br>
      <b>Inicio: </b> {{ dados.hora_inicio }} <br>
      <p *ngIf="dados.hora_fim"><b>Término: </b> {{ dados.hora_fim }} </p>
      <b>Frequência: </b> {{ dados.frequencia }} 000<br>
  </div>

  <div class="button-group">
    <button type="button" class="botao" (click)="addPresenca()">Cadastrar presença</button>
  </div>
  
</ion-content>
