page-home {
    .superior {
        color: #fff;
        position: sticky;
        width: 100%;
        vertical-align: middle;

        p {
            margin: 0;
            padding: 10px 0;
        }
    }

    .inferior {
        // margin-top: 60px;
    }

}

