<!-- <ion-header no-border transparent>
</ion-header>
   -->

<ion-content>

  <div class="heade">
    <button ion-button menuToggle icon-only clear>
      <ion-icon name="menu"></ion-icon>
    </button>
  </div>

  <div class="data">
    {{ data }}
  </div>

  

  <div padding>
    <!-- {{listaOrig}} -->
    <!-- <compromisso *ngFor="let item of listaOrig; last as isLast;" [class.last]="isLast" [item]="item"></compromisso> -->

    <div class="compromisso" *ngFor="let item of listaOrig" (click)="pushPage(item)">
      <div class="hora">
        <p>{{ item.hora_inicio }}</p>
        <p>{{ item.hora_fim }}</p>
      </div>
      <div class="materia">
        <p *ngIf="item.nome">{{ item.nome }}</p>
        <p *ngIf="item.palestrante">{{ item.palestrante }}</p>
        <p *ngIf="item.disciplina">{{ item.disciplina }}</p>
        <p *ngIf="item.docente">{{ item.docente }}</p>
      </div>
      <div class="frequencia" *ngIf="item.presencaOk">
       <ion-icon name="checkmark-circle-outline"></ion-icon>
      </div>
    </div>

    <div class="vazio" *ngIf="listaOrig.length == 0">
      <span><ion-icon name="checkmark-circle-outline"></ion-icon></span>
      <p>Você não tem compromissos hoje</p>
    </div>
  </div>
</ion-content>
