page-home {
    .superior {

        p {
            margin: 0;
            padding: 10px 0;
        }
    }

    .compromisso {
        border-bottom: 1px solid #000;
    }

    .last > * {
        border-bottom: none !important;
    }

}

