card {
    .card {
        width: 100%;
        position: relative;
        display: flex;
        font-size: 13px;
    
        .materia {
            width: 80%;
        }

        .icon {
            width: 20%;
            font-size: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
        
        }


    
    }
    

    
}
