<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Disciplinas</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  
  <h4>Minhas disciplinas:</h4>

  <card *ngFor="let item of lista" [item]="item" [icone]="'information-circle'"></card>
  <!-- <card *ngFor="let item of lista" [item]="item"></card> -->

  

  <ion-fab right bottom>
    <button ion-fab (click)="addDisciplina()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>  
  

</ion-content>
