<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Minhas disciplinas</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  
  <!-- <card *ngFor="let item of lista; last as isLast" [class.last]="isLast" [item]="item" [icone]="'information-circle'" [adicionar]='false'></card> -->

  
  <div *ngFor="let item of lista" class="card" (click)="pushPage(item)">
    <div class="materia">
      <p *ngIf="item.nome">{{ item.nome }}</p>
      <p *ngIf="item.docente">{{ item.docente }}</p>
    </div>
    <div class="icon">
      <ion-icon name="add-circle"></ion-icon>
    </div>
  </div>

  <ion-fab right bottom>
    <button ion-fab (click)="addDisciplina()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>  
  

</ion-content>
