// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

* {
    font-family: Roboto;
}

ion-header * {
    background: #08007F !important;
    color: #fff !important;
    text-align: center;
    font-size: 20px !important;
}

ion-menu * {
    background: #08007F !important;
    color: #fff !important;
}

.profile-picture {
    border-radius: 50%;
    margin: 50px 0;
    margin-left: 50%;
    transform: translateX(-50%);
}

.options-menu {
    margin-left: 50%;
    transform: translateX(-50%);
    position: absolute;
    bottom: 0;
    svg {
        fill: #fff;
        width: 40px;
    }
}

.botao {
    font-family: Roboto;
    color: #08007F;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    margin: 5px;
    border-radius: 50px;
    border: 3px solid #08007F;
    background: #fff;
    width: 70%;
}

.formulario {
    width: 70%;
    margin-left: 50%;
    transform: translateX(-50%);
    
    * {
        font-family: Roboto;
        color: #08007F;
    }

    .form-field {
        margin: 20px 0;

        label {
            font-size: 20px;
            font-weight: bold;
        }
        
    }

    input {
        border: none;
        font-size: 20px;
        width: 100%;
        border-bottom: 1px solid #08007F;
        color: #333;
        margin: 10px 0;
        outline: none;
    }
    

}

.button-group {
    position: absolute;
    width: 100%;
    bottom: 30px;
}

.button-group > * {
    margin-left: 50%;
    transform: translateX(-50%);
}

#facebook {
    font-size: 14px !important;
    font-weight: lighter;
    background: #08007F;
    color: #fff;
}

#facebook svg {
    width: 20px;
    vertical-align: middle;
    transform: translate(-5px, -1px);
}