
<ion-header>
  <ion-navbar>
    <ion-title>Adicionar disciplina</ion-title>
  </ion-navbar>

  <ion-searchbar
  [(ngModel)]="myInput"
  [showCancelButton]="shouldShowCancel"
  (ionInput)="onInput($event)"
  placeholder="Buscar disciplina"
  type="text">
  </ion-searchbar>

</ion-header>


<ion-content>
  
  <div padding>

    <div *ngFor="let item of listaFiltrada" class="card" (click)="pushPage(item)">
      <div class="materia">
        <p *ngIf="item.nome">{{ item.nome }}</p>
        <p *ngIf="item.docente">{{ item.docente }}</p>
      </div>
      <div class="icon">
        <ion-icon name="add-circle"></ion-icon>
      </div>
    </div>

  <!--     
    <ion-card *ngFor="let disciplina of listaFiltrada" (click)="goToInfoCard(disciplina)">
      <ion-card-header>
        {{ disciplina.nome }}
      </ion-card-header>
      <ion-card-content>
        Docente: {{ disciplina.docente }}
      </ion-card-content>
    </ion-card> 
  -->
    
  </div>
</ion-content>
