
<ion-header>
  <ion-navbar>
    <ion-title>Adicionar disciplina</ion-title>
  </ion-navbar>

  <ion-searchbar
  [(ngModel)]="myInput"
  [showCancelButton]="shouldShowCancel"
  (ionInput)="onInput($event)"
  placeholder="Buscar disciplina"
  type="text">
  </ion-searchbar>

</ion-header>


<ion-content>
  
  <div padding>

    <!-- <card *ngFor="let item of listaFiltrada; last as isLast;" [class.last]="isLast" [item]="item" [icone]="'add-circle'" [adicionar]='true'></card> -->
    
    <ion-card *ngFor="let disciplina of listaFiltrada" (click)="goToInfoCard(disciplina)">
      <ion-card-header>
        {{ disciplina.nome }}
      </ion-card-header>
      <ion-card-content>
        Docente: {{ disciplina.docente }}
      </ion-card-content>
    </ion-card>
    
  </div>
</ion-content>
