<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Criar disciplina</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <form #form="ngForm" id="criarDisciplina" novalidate>
    <div class="form-field">
      <label>Nome</label><br>
      <input type="text" name="nome" [(ngModel)]="disciplina.nome"  placeholder="Insira o nome da disciplina" required/><br>
    </div>
    
    <div class="form-field">
      <label>ID da disciplina</label><br>
      <input type="text" name="idDisc" [(ngModel)]="idDisciplina" placeholder="Insira o ID da disciplina" required/><br>
    </div>

    <div class="form-field">
      <label>Docente</label><br>
      <input type="text" name="docente" [(ngModel)]="user.nome" disabled/><br>
    </div>
    <h4 style="font-weight: bold;">Aulas</h4>
  </form>
  

  <div class="aulas" *ngFor="let item of aulas; index as i">
    <div class="hora">
      <p>{{ item.hora_inicio }}</p>
      <p>{{ item.hora_fim }}</p>
    </div>
    <div class="localData">
      <p>{{ item.local }}</p>
      <p>{{ item.dia_semana }}</p>
    </div>
    <div class="icon" (click)="remove(i)">
      <ion-icon name="remove-circle"></ion-icon>
    </div>
  </div>
  <br><br>

  <ion-card>
    <ion-card-content>
      <div class="form-field">
        <label>Dia da semana</label><br>
        <ion-item>
          <ion-label>Data</ion-label><br>
          <ion-select name="diaSemana" [(ngModel)]="diaSemana" [selectOptions]="selectOptionsDiaSemana">
            <ion-option value=1>Segunda-feira</ion-option>
            <ion-option value=2>Terça-feira</ion-option>
            <ion-option value=3>Quarta-feira</ion-option>
            <ion-option value=4>Quinta-feira</ion-option>
            <ion-option value=5>Sexta-Feira</ion-option>
            <ion-option value=6>Sábado</ion-option>
          </ion-select>
        </ion-item>
      </div>

      <div class="form-field">
        <label>Hora de início</label><br>
        <ion-item>
          <ion-label>Início</ion-label>
          <ion-datetime pickerFormat="HH:mm" name="horaIni" [(ngModel)]="aula.hora_inicio"></ion-datetime>
        </ion-item>
      </div>

      <div class="form-field">
        <label>Hora de término</label><br>
        <ion-item>
            <ion-label>Fim</ion-label>
          <ion-datetime pickerFormat="HH:mm" name="horaFim" [(ngModel)]="aula.hora_fim"></ion-datetime>
        </ion-item>
      </div>

      
      <div class="form-field">
        <label>Local</label><br>
        <ion-item>
          <ion-label>Local</ion-label><br>
          <ion-select name="local" [(ngModel)]="local" [selectOptions]="selectOptionsLocal">
            <ion-option *ngFor="let item of locals" [value]="item">{{ item.nome_local }}</ion-option>
          </ion-select>
        </ion-item>
      </div>
      <div class="button-group">
        <button type="submit" class="botao" form="criarDisciplina" (click)="pushAula()">Adicionar</button><br>
      </div>
    </ion-card-content>
  </ion-card>
    
  <div class="button-group">
    <button type="submit" class="botao" form="criarDisciplina" (click)="addDisciplina()">Criar</button><br>
  </div>

</ion-content>
